<div class="container-flex">
  <div class="row">
    <div class="col">
      <img src="https://as2.ftcdn.net/v2/jpg/03/15/69/63/1000_F_315696377_HRmVCZMxQ2y33Nnd8aHxyJBMuP3HcR1j.jpg"
        class="img-fluid" style="width: 1600px;height: 400px;" alt="Responsive image">
    </div>
  </div>
  <div class="row text-center">
    <div class="p-3 mb-2 bg-danger text-dark font-weight-bold">
      <font face="Bedrock" size="6">
        Login and get Flat 10% OFF on your 1st Purchase | NEEFT10
      </font>
    </div>
  </div>
  <div class="card-group">
    <div class="card">
      <img class="card-img-top" src="https://images-static.nykaa.com/uploads/0ec5186d-93f0-41f4-8642-f89dca4086ba.jpg?tr=w-800,cm-pad_resize" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">“Some days you just need to produce your own sunlight.”</h5>
        <p class="card-text">lookout for an Ethnic Wear Caption then be happy because you’re at your final stop.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="https://images-static.nykaa.com/uploads/3966523f-827b-4529-8e66-97deb681f619.jpg?tr=w-1200,cm-pad_resize" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title"> “In the world of denim just chill and keep the confidence"</h5>
        <p class="card-text">Fashion is a playground up until a certain age. But then you have to find your own signature and your own style.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="https://images-static.nykaa.com/uploads/2d5db349-f331-45c3-9437-42c3857b3e1e.jpg?tr=w-1200,cm-pad_resize" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">“I can make you stop and stare with my white salwar and colourful dupatta.”</h5>
        <p class="card-text"> Ethnic Wear Caption for your pictures then this section is for you. This caption will compliment your pictures.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
    </div>
    <div class="card">
      <div class="card-body">
     </div>
      <br>
      <img class="card-img-bottom" src="https://images-static.nykaa.com/uploads/e4704bf6-c04c-45d2-a339-12227a82dbfe.jpg?tr=w-1200,cm-pad_resize" alt="Card image cap">
      <div class="row text-center">
        <div class="p-3 mb-2 bg-success text-dark font-weight-bold">
          <font face="Bedrock" size="4">
            Login and get Flat 10% OFF on your 1st Purchase | NEEFT10
          </font>
        </div>
      </div>
      <img src="https://images-static.nykaa.com/uploads/e4b037a9-2524-4d9e-9036-2effbb806771.jpg?tr=w-2400,cm-pad_resize"
        class="img-fluid" style="width: 1600px;height: 400px;" alt="Responsive image">
  </div>